* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top__info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/top_back.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}

.top__heading {
    width: 510px;
    font-size: 64px;
    font-weight: 300;
    line-height: 74px;
    color: #1F3F68;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.top__text {
    width: 425px;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.text_project {
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;
}

.top__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.heading-contacts {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.what-we-do {
    padding-top: 64px;
}

.heading {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom: 14px;
}

.card__box {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.card {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.card__image {
    align-self: center;
    margin-bottom: 51px;
}

.card__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.project {}

.project__item {
    position: relative;
    flex-grow: 1;
}

.project__text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.project__img {
    max-width: 100%;
    height: auto;
}

.project__text-alter {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    right: auto;
    top: 32px;
    left: 32px;
    text-align: left;
}

.project__parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.project__item_margin {
    margin-right: 32px;
}

.footer {
    background: #316099;
    padding-top: 91px;
    padding-bottom: 64px;
    margin-top: 112px;
}

.footer__top {
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__heading {
    width: 340px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.footer__text {
    width: 495px;
    /* font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em; */
    color: #FFFFFF;
}

.lets_talk_button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    padding: 15px 80px;
    text-decoration: none;
    display: inline-block;
}

.footer__line {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

.footer__table {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.footer__table-elem:first-child::before {
    content: 'A.';
    display: block;
    margin-right: 16px;
}

.footer__table-elem:nth-child(2)::before {
    content: 'T.';
    display: block;
    margin-right: 16px;
}

.footer__table-elem:last-child::before {
    content: 'E.';
    display: block;
    margin-right: 16px;
}

.footer__table-elem {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 00.05em;
    color: #FFFFFF;
    flex-grow: 1;
    flex-basis: 33.3333%;
    list-style-type: none;
    display: flex;
    margin-right: 32px;
}

.footer__copy {
    margin-top: 64px;
}

.footer__copy-text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

/* media */

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
    .top__info {
        background-position: right 280px;
    }
    .card__box {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin-bottom: 32px;
    }
    /* .footer__top {
        justify-content: space-around;
    } */

    .footer__text {
        width: 336px;
    }
    .lets_talk_button {
        padding: 5px 30px 10px;
    }
    .footer__table {
        flex-direction: column;
    }
    .footer__table-elem {
        padding-top: 25px;
    }
}

@media (max-width: 667px) {
    .header {
        padding-top: 24px;
    }
    .top {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }
    .top__info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }
    .top__heading {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }
    .top__text {
        width: 100%;
        text-align: center;
    }
    .top__button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }
    .heading {
        font-size: 24px;
        line-height: 28px;
    }
    .what-we-do {
        padding-top: 48px;
    }
    .card__box {
        padding-top: 32px;
    }
    .card {
        width: 100%;
    }
    .text_project {
        width: 100%;
    }
    .project__text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }
    .project__text-alter {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        left: 16px;
    }
    .project__parent {
        flex-direction: column;
        margin-top: 16px;
    }
    .project__item_margin {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .footer{
        padding-top: 18px;
        padding-bottom: 32px;
    }
    .footer__heading {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
    .footer__text {
        width: 100%;
        text-align: center;
    }
    .footer__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
    }
    .lets_talk_button {
        margin-top: 40px;
    }
    .footer__heading {
        width: auto;
    }
    .footer__table {
        margin-left: 0;
    }
    .footer__copy {
        text-align: center;
    }
}

/* contacts */

.main {
    display: flex;
    text-align: center;
}

.html_image {
    width: 300px;
}

.contact {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

/* .h3{
    font-size: 36px;
    text-align: center;
} */

.h4 {
    font-size: 20px;
    line-height: 30px;
}

.input_text {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.submit_button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}