* {
    margin: 0;
    padding: 0;
    }

.container {
    width: 1140px;
    margin: 0 auto;
    }

body{
    font-family: sans-serif;
}

.main_menu,
.contacts ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.content__group{
    display: flex;
    justify-content: space-between;
}

.content__card{
    border: 1px solid #000;
    width: 359px;
}

.message{
    display: flex;
    justify-content: space-around;
}

.message__contacts,
.message__sendform{
    border: 1px solid #000;
}

.html_image{
    width: 300px;

}

.main__header .header{
    display: inline-block;
    width: 510px;
}

.main__header .text{
    display: inline-block;
    width: 425px;
}

.footer__text{
    display: inline-block;
    width: 495px;
}

.footer_invite .header{
    display: inline-block;
    width: 340px;
}

.text,
.header,
.h4{
    color: #1F3F68;
}

.text{
    font-size: 16px;
    line-height: 26px;
}

.header {
    font-size: 64px
}

.contact{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.h3{
    font-size: 36px;
    text-align: center;
}

.h4{
    font-size: 20px;
    line-height: 30px;
}

.input_text{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.submit_button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}